<h1>Explore Categories</h1>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Explore Categories</li>
    </ol>
  </nav>


<div class="row  row-cols-lg-1 row-cols-sm-1 row-cols-md-1 g-2 g-lg-3 py-4"></div>
<% if (categories != '') { %>
    <%  categories.forEach(function(category, index) {%>

          <a href="/categories/<%- category.name %>" class="col text-center category_link">
              <img src="/img/<%- category.image %>" alt="<%- category.name %>" class="category_img">
              <h4><%- category.name %></h4>
          </a>
   <%   }) %>
 <% } %>

</div>